@charset "utf-8";

.con {
    width: 570px;
    margin: auto;
}

h1 {
    line-height: 120px;
    text-align: center;
    text-shadow: 2px 1px 3px rgba(25, 126, 104, 0.911);
    color: rgba(255, 0, 0, 0.267);
    font-size: 50px;
    font-family: "等线";
    font-weight: 900;
    font-style: italic;
}

img, .button{
    /* float: left; */
    height: 150px;
    width: 150px;
}

.button {
    float: left;
    margin: 0px 20px 50px;
    box-shadow: 2px 2px 10px #909090;
}

.button>a {
    display: inline-block;
    width: 100%;
    text-align: center;
}